
<h1>Task Force Membership</h1>
<p>
  <strong>Chair: Prof. John McCall</strong><br />
  IDEAS Research Centre<br />
  Robert Gordon University<br />
  Aberdeen AB25 1HG<br />
  Scotland<br />
  E-mail: <%= mail_to "j.mccall@rgu.ac.uk" %> <br />
  Tel: +44 1224 262780<br />
  Fax: +44 1224 262727<br />
  Web: <%= link_to("http://www.comp.rgu.ac.uk/staff/jm/", "http://www.comp.rgu.ac.uk/staff/jm/", {:target => "outside_link"}) %><br />
</p>

<p>
  <strong>Vice Chair: Dr. Lilian Tang</strong><br />
  Department of Computing<br />
  University of Surrey, UK<br />
  E-mail: <%= mail_to "h.tang@surrey.ac.uk" %><br />
  Tel: 01483 68 6054<br />
  Web: <%= link_to("http://www.surrey.ac.uk/computing/people/hongying_tang/", "http://www.surrey.ac.uk/computing/people/hongying_tang/", {:target => "outside_link"}) %><br />
</p>

<p>
  Prof Rezaul K Begg, PhD SMIEEE<br />
  Biomechanics Unit, SES/ISEAL<br />
  Victoria University - City Flinders Campus PO Box 14428, Melbourne, Vic 8001, Australia<br />
  E-mail: <%= mail_to "rezaul.begg@vu.edu.au" %><br />
  Tel: +61 3 9919 1116 F: +61 3 9919 1242<br />
  Web: <%= link_to("http://www.staff.vu.edu.au/begg", "http://www.staff.vu.edu.au/begg", {:target => "outside_link"}) %><br />
  CRICOS Provider No.00124K<br />
</p>

<p>
  Prof. Riccardo Bellazzi<br />
  Dipartimento di Informatica e Sistemistica<br />
  Università degli Studi di Pavia<br />
  Via Ferrata 1 27100 Pavia (Italy)<br />
  E-mail: <%= mail_to "riccardo.bellazzi@unipv.it" %><br />
  Tel: +39-0382-985720<br />
  Fax: +39-0382-525638<br />
</p>

<p>
  Dr. John Boyle<br />
  Institute for Systems Biology<br />
  1441 North 34th Street<br />
  Seattle, WA 98103-8904<br />
  E-mail: <%= mail_to "jboyle@systemsbiology.org" %><br />
  Tel: (206) 732-1200<br />
  Fax: (206) 732-1299<br />
</p>

<p>
  George Coghill<br />
  Reader, University of Aberdeen<br />
  Room: 231<br />
  E-mail: <%= mail_to "g.coghill@abdn.ac.uk" %><br />
  Tel: +44 (0)1224 273829<br />
  Fax: +44 (0)1224 273422<br />
  Web: <%= link_to("http://www.csd.abdn.ac.uk/~gcoghill/", "http://www.csd.abdn.ac.uk/~gcoghill/", {:target => "outside_link"}) %><br />
</p>

<p>
  Professor David Corne<br />
  School of Mathematical and Computer Sciences<br />
  Heriot-Watt University<br />
  E-mail: <%= mail_to "dwcorne@macs.hw.ac.uk" %><br />
  Tel : +44 (0)131 451 3410<br />
  Fax : +44 (0)131 451 3327<br />
  Web: <%= link_to("http://www.macs.hw.ac.uk/~dwcorne/", "http://www.macs.hw.ac.uk/~dwcorne/", {:target => "outside_link"}) %><br />
</p>

<p>
  Dr. John H. Holmes<br />
  University of Pennsylvania School of Medicine<br />
  E-mail: <%= mail_to "jhholmes@mail.med.upenn.edu" %><br />
  Web: <%= link_to("http://www.cceb.upenn.edu/faculty/?id=172", "http://www.cceb.upenn.edu/faculty/?id=172", {:target => "outside_link"}) %><br />
</p>

<p>
  Professor Jose Lozano<br />
  Intelligent Systems Group<br />
  Department of Computer Science and Artificial Intelligence<br />
  University of the Basque Country<br />
  Manuel de Lardizabal, 1<br />
  20018 Donostia<br />
  Gipuzkoa (Spain)<br />
  E-mail: <%= mail_to "ja.lozano@ehu.es" %><br />
  Tel: +34 943 015 034<br />
  Fax: +34 943 015 590<br />
</p>

<p>
  Dr. Andrei Petrovski<br />
  School of Computing<br />
  Robert Gordon University<br />
  St. Andrew St.<br />
  Aberdeen AB25 1HG<br />
  Scotland<br />
  E-mail: <%= mail_to "a.petrovski@rgu.ac.uk" %><br />
</p>

<p>
  Dr. Stephen Smith - Senior Lecturer<br />
  University of York<br />
  E-mail: <%= mail_to "sls5@ohm.york.ac.uk" %><br />
  Tel: +44 (0)1904 32 2351<br />
  Web: <%= link_to("http://www-users.york.ac.uk/~sls5/", "http://www-users.york.ac.uk/~sls5/", {:target => "outside_link"}) %><br />
</p>

<p>
  Dr. Allan Tucker<br />
  Information Systems and Computing<br />
  St John's 128h<br />
  Brunel University<br />
  Uxbridge<br />
  UB8 3PH<br />
  United Kingdom<br />
  E-mail: <%= mail_to "allan.tucker@brunel.ac.uk" %><br />
  Tel: +44 (0)1895 266933<br />
  Fax: +44 (0)1895 251686<br />
</p>

<p>
  Professor Kevin Warwick<br />
  Cybernetic Intelligence Research Group<br />
  Building: Systems Engineering, Room 171<br />
  University of Reading<br />
  Reading<br />
  Berkshire, UK<br />
  E-mail: <%= mail_to "k.warwick@reading.ac.uk" %><br />
  Tel: +44 (0) 118 378 8210<br />
  Fax: +44 (0) 118 378 8220<br />
  Web: <%= link_to("http://www.kevinwarwick.com/", "http://www.kevinwarwick.com/", {:target => "outside_link"}) %><br />
</p>